
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.body {
    background-image: url("../images/background-image.png");
    object-fit: cover;
}
header {
    padding-top: 2%;
}
.first-ul-list {
    justify-content: center;
    margin-left: 30%;
    
}

.list-item {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    
    margin-right: 40px;
   
}

.first-anchor {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    color: white;
   
}

/* home page starts */
h1 {
    color: #fff;
}
h2 {
    color: white;
    padding: 1% 0;
}
.home-page {
    align-items: center;
    margin-left: 64%;
    margin-top: 30%;
    padding-bottom: 25%;

}
span {
    color: skyblue;
    font-size: 18px;
    font-weight: 900;
}

.first-button {
    padding: 2% 8%;
    border-radius: 5%;
    border: none;
    text-transform:uppercase;
    cursor: pointer;
}
.first-button:hover {
   background-color: skyblue;
   transition: 0.5s ease-in-out;
}
/* home page end */

/* About us Starts */
.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 10%;
    padding-bottom: 5%;
}

.images img {
    width: 350px;
    height: 350px;
    margin-left: 25%;
    border-radius: 5%;
}
.content {
    margin-right: 15%;
}
.first-paragraph {
    padding: 5% 0;
}

.about-us , .h1-tag, .project-h1{
    color: skyblue;
    font-size: 2rem;
}
/* About usEnd*/

/* Services Start */

.grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 5% 0;
    margin-left: 4%;
}
.services img {
    width: 270px;
    height: 250px;
    border-radius: 5%;
}

.h1-tag, .project-h1 {
   text-align: center;
}
h3, .h4-tag {
    /* margin-left: 30%; */
    text-align: center;
}
h4, .third-paragraph {
    width: 85%;
    text-align: center;
}
h4 {
    padding: 2% 0;
    color: skyblue;
}
/* Services Start */

/* projects starts */

.grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 0;
    margin-left: 10%;

}
.project-image img {
    width: 450px;
    height: 450px;
    border-radius: 5%;
}

.project-h1 {
    padding: 1% 0;
}

.fourth-paragraph {
   margin-right: 10%;
}
.text {
   margin-top: 15%;
}
.pat {
    padding-top: 5%;
}
/* projects starts */


/* contact Us start */

.contact-me {
    background-color: rgb(35, 139, 212);
    
    border-radius: 1%;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
}
.contact-image img {
    width: 450px;
    height: 450px;
    border-radius: 5%;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
   padding: 4% 0;
   margin: 4% 0; 
    box-sizing: border-box;
    border-radius: 20px;
    border: none; 
}



.form {
    max-width: 600px; 
    margin: auto; 
}
.form button {
    width: 100%; 
    box-sizing: border-box;
    padding: 5% 0;
    border-radius: 20px;
    border: none; 
    cursor: pointer;
    
}
.form button:hover {
    background-color: skyblue;
    transition: 0.5s ease-in-out;
}

 .form h2 {
    text-align: center;
 }
/* contact Us end */
@media screen and (max-width: 1260px) {
    /* About Us Starts */
    .grid {
        grid-template-columns: repeat(1, 1fr) !important; /* Use 1fr for both columns */
        padding-top: 10% !important;
        padding-bottom: 5% !important;
        width: 100%;
        margin-left: 5%;
    }
    .images img {
        width: 550px;
        height: 550px;
        margin-left: 25%;
        border-radius: 5%;
        text-align: center;
        width: 60%;
        align-items: center;
        margin-left: 20%;
        display: block;
    }

   /* .about-us {
    width: 90%;
   } */

   .about-us {
    padding-top: 2%;
   }
    .first-paragraph {
        padding: 5% 0;
        text-align: center;
        width: 80%;
        align-items: center;
        margin-left: 20%;
        display: block;
    }
    
    .about-us , .h1-tag, .project-h1{
        color: skyblue;
        font-size: 2rem;
        text-align: center;
        margin-left: 15%;
    }
    /* About Us Ends */


/* Services Starts */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5% 0;
    margin-left: 15%;
}
.services img {
    width: 270px;
    height: 250px;
    border-radius: 5%;
    align-items: center;
    margin-left: 15%;
}


h3, .h4-tag {
    /* margin-left: 30%; */
    text-align: center;
    margin-left: 15%;
}
h4, .third-paragraph {
    width: 95%;
    text-align: center;
    padding: 2% 0;
}
.h1-tag, .project-h1 {
    margin-right: 15% !important;
    margin-left: 30% !important;
}

/* Services Ends */

/* Projects Starts */





.fourth-paragraph {
   margin-right: 10%;
   margin-top: -12%;
   
}

.pat {
padding-top: 7%;
}
.project-image img {
    width: 450px;
    height: 450px;
    border-radius: 5%;
    margin-right: 40%;
}
/* Projects Ends */


}

/* Responsiveness Starts  */

@media screen and (max-width: 1018px){
    .grid-4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        padding: 5% !important;
    }
    
}

/* Responsiveness end  */